body {
	/*background-color: #444;*/
}

/* Styling the header  */
#header-wrapper {
	max-width: 850px;
	margin: 0 auto;
	padding-left: 10px;
}

.page-header {
	margin-top: 0px;
	padding: 10px 15px;
	background-color: #222;
	color: white;
}

/* Styling the wrapper */
#wrapper {
	max-width: 850px;
}

/* Styling common to all sections on the page */
section {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	/*margin-bottom: 20px; */
}

.section-heading {
	margin-top: 10px;
}

p {
	font-size: 16px;
	line-height: 1.5;
}

/* Styling the job section */
.employment-details {
	margin-bottom: 15px;
}

/* Styling the timeline */
.timeline {
	padding-left: 15px;
	border-left: 1px solid;
	border-width: 5px;
	border-color: #ebebeb;
	position: relative;
	margin-bottom: 10px;
}

.timeline-marker {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	left: -8px;
	background-color: #0082d6;
	margin-bottom: 10px;
}

/* Styling the Work experience section */
#work-experience {
	background-color: #fafafa;
}

.job-items {
	margin-bottom: 5px;
}

.duration, 
.location {
	color: #cccccc;
}

.employer-details {
	font-size: 18px;
	font-weight: bold;
}

.job-title {
	font-weight: bold;
}

/* Styling the Education section */
#education {
	background-color: #fafafa;
}

.edu-item {
	margin-bottom: 5px;
}

.college {
	font-size: 18px;
	font-weight: bold;	
}

/* Styling the project section */

.btn {
	margin-bottom: 5px;
}

.thumbnail img {
	border: 1px solid #ebebeb;
}

/* Styling the online courses section */
.course-details div {
	margin-bottom: 5px;
}

.online-course-title {
	font-size: 18px;
	font-weight: bold;
}

/* Styling the skills section */
#skill-container {
	background-color: #fafafa;
}

.progress {
	height: 14px;
}

/* Styling the achievments sections */

.achievements-list {
	padding-top: 5px;
}

.achievement-title {
	font-weight: bold;
}

.achievements-items {
	padding: 5px 0 0 10px;
	border-left: 1px solid orange;
	border-left-width: 5px;
	background-color: #f3f3f3;
}
/* Common styling for lists */

.contact-list,
.achievements-list,
.hobbies-list {
	list-style: none;
	padding-left: 0;
}

/* Styling hobbies section */

.hobbies-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.hobbies-items {
	width: 15%;
	font-size: 16px;
	padding: 10px;
	margin-right: 10px;
	background-color: #544c4c;
}

/* Styling the contact-section */

#contact-info {
	background-color: #fafafa;
}

.icon-container {
	color: #0082d6;
	margin-right: 5px;
}

.icon-container h3 {
	margin-top: 10px;
}

/* Styling for footer */
footer {
	background-color: #222;
	text-align: center;
	color: #ebebeb;
}

#footer-wrapper {
	max-width: 850px;
	margin: 0 auto;
}

footer p {
	margin: 10px 0 0;
}
.social-media-list {
	list-style: none;
	padding-left: 0;
}

.social-media-list li {
	display: inline-block;
	padding: 10px;
	font-size: 30px;
}

.sub-container {
	padding-left: 15px;
}

/* Media query for the contact info */

@media screen and (min-width: 460px) and (max-width: 650px){

	.contact-list {
		display: flex;
		flex-wrap: wrap;
	}
	.contact-item {
		width: 50%;
	}
}

@media screen and (min-width: 651px) {
	.contact-list {
		display: flex;
		flex-wrap: wrap;
	}

	.contact-item {
		width: 33.33%;
	}
}

/* Media query for the header */

@media screen and (max-width: 659px) {
	.page-header {
		text-align: center;
	}
	#img-container img {
		margin: 0 auto;
	}
}

@media screen and (min-width: 660px) and (max-width: 767px) {
	.col-mix-3 {
		width: 30%;
		float: left;
	}
	.col-mix-7 {
		width: 70%;
		float: right;
	}
	.page-header {
		text-align: left;
	}
}

/* Media query for the work-experience section */

@media screen and (min-width: 768px) {
	.job-details {
		padding-left: 0px;
	}
	.employment-details {
		padding-right: 0px;
	}
}

/* Media query for the skill section */

@media screen and (min-width: 501px) and (max-width: 767px) {
	.col-mix-6 {
		width: 50%;
		float: left;
	}
}

/* Media query for the featured-project section */
@media screen and (max-width: 549px) {
	.project-thumbnail {
		max-width: 350px;
	}
}
@media screen and (min-width: 550px) and (max-width: 656px) {
	.project-thumbnail {
		max-width: 250px;
		float: left;
	}
}
@media screen and (min-width: 657px) and (max-width: 716px) {
	.project-thumbnail {
		max-width: 320px;
		float: left;
	}
}
@media screen and (min-width: 717px) and (max-width: 767px) {
	.project-thumbnail {
		max-width: 350px;
		/*margin: 0 auto;*/
		float: left;
	}
}
